html {
    scroll-behavior: smooth;
  }
/* ========================================================== 
 * CHAMADA
 * ========================================================== */
#chamada {
    background-image: url("../images/camara-legislativa.jpg");
    background-position: center;
    position: relative;
    height: 640px;
    padding-top: 0;
    box-shadow: 0 -30px 10px -10px white inset; 
}

#chamada .container {
    text-shadow:0px 0px 16px black;
    color: white;
}

#chamada .container p {
    font-size: 18px;
    width: 55%;
    display: inline-block;
}

#chamada > div {
    width: 100%;
    height: 640px;
    background-color: rgba(0, 100, 100, 0.3);
    box-shadow: 0 -30px 10px -10px white inset; 
}
/* ========================================================== 
 * DROPDOWN PARTIDOS
 * ========================================================== */
#partidos-dropdown img {
    width: 20px;
}

#partidos-dropdown p {
    display: inline-block;
    margin-left: 10px;
}

/* ========================================================== 
 * GRÁFICOS DO DC
 * ========================================================== */
#grafico-despesas {
    width: 100%;
    min-height: 600px;
}

#grafico-despesas-legenda {
    display: none;
    position: absolute;
    right: 0;
    padding: 20px;
    border: 1px solid black;
    background-color: rgba(100, 100, 100, 0.2);
}

#grafico-despesas-legenda i {
    font-size: 16px;
    width: 20px;
    height: 20px;
}

.states {
  fill: none;
  stroke: #eee;
  stroke-width: 1;
  stroke-linejoin: round;
}

#grafico-despesas-legenda p {
    display:inline;
    margin-left: 14px;
    font-size: 12px;
}

svg .x .tick text{
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Font Awesome 5 Free';
}

/* ========================================================== */